.gameBox {
    background: radial-gradient(
        circle at 100% 100%, 
        transparent 35%, 
        rgb(45, 17, 92) 16.2%, 
        rgb(135, 172, 189) 20%, 
        rgb(62, 103, 179) 100%
    );
}

.accent {
    padding-right: 12vh;
    padding-bottom: 12vh;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 0 .8vh inset rgb(77, 72, 72), 
    0 0 .5vh 1.2vh inset rgb(34, 30, 30);
    animation: flash 2s infinite;
}

@keyframes flash {
    0%   {background-color: rgb(179, 16, 16);}
    10%   {background-color: rgb(179, 16, 16);}
    10%   {background-color: rgb(179, 95, 16);}
    15%   {background-color: rgb(179, 155, 16);}
    25%   {background-color: rgb(81, 179, 16);}
    40%   {background-color: rgb(16, 179, 30);}
    65%   {background-color: rgb(81, 179, 16);}
    75%   {background-color: rgb(179, 155, 16);}
    80%   {background-color: rgb(179, 95, 16);}
    90%   {background-color: rgb(179, 16, 16);}
}