.calculator {
    width: 205px;
    border: 1px dashed black;
    background: url(sprites/backgr.fw.png);
}

.numpad {
    width: 100%;
    min-height: 125px;
    line-height: 30px;
}

.numpad button {
    margin: 1px;
}

.button{
    background: url(sprites/button_raw.png) no-repeat;
    width: 65px;
    height: 25px;
    cursor:pointer;
    border: none;
}

.screen {
    width: 100%;
    resize: none;
    height: 60px;
    padding: 10px;
    overflow-y: hidden;
    border: none;
}

#output {
    height: 30px;
    text-align: right;
}

.flex-4 {
    display: flex;
    flex-wrap: wrap;
}

.flex-4 > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 21%;
}